body{
    position: relative;
    background-image: url(./imagenes/fondo.png);
    background-size: contain;
    background-repeat: repeat;
    background-attachment: scroll;
    font-size: 18px;
    font-family: sans-serif;
}

header {
    background-color: #651a7a;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

h1 {
    text-align: center;
    color: #000000;
    text-shadow: 0 0 30px #ffffff;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    padding: 10px;
    margin-right: 25px;
}

nav a {
    background-color: transparent;
    border: 0;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
}

nav a:hover {
    color: blueviolet;
}

main{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 3%;
    padding-top: 120px;
}

.container-card {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    margin: 2rem auto;
    padding: 1rem;
    gap: 2rem;
}

.card {
    flex: 1 1 45%;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px 0px black;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 0.5rem;
    max-width: 500px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5%;
    object-fit: cover;
}

article {
    width: 100%;
    padding: 1rem;
    background-color: #ffffff;
    box-sizing: border-box;
    margin: 0 auto;
}

article h2, h3, p {
    text-align: center;
}

.frase {
    color: #000000;
    text-align: center;
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    text-shadow: 0 0 20px rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;
}

section p {
    font-size: 1.3rem;
}

.conteiner-text {
    padding: 2rem;
}
